{% extends 'base.html' %}

{% block content %}
    <div class="container py-2 my-5 col-4 border rounded shadow">
        <div class="mb-4">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            {% if user.email %}
                <p><strong>Email:</strong> {{ user.email }}</p>
            {% endif %}
            {% if user.telegram %}
                <p><strong>Telegram:</strong> {{ user.telegram }}</p>
            {% endif %}
        </div>
        <h2>Change Password</h2>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
{% endblock %}
